/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-themezee-box-shadow-block {
	&.has-background {
		padding: 8px 16px;

		> *:first-child {
			margin-top: 0;
		}
	
		> *:last-child {
			margin-bottom: 0;
		}
	}
}
